# Compiled Python files
__pycache__/
*.pyc

# Database files
*.sqlite3
*.db

# Local development settings
*.env
*.env.local
.envrc

# Static files
/staticfiles/
/media/

# Virtual environment
venv/

# Dependencies
/node_modules
