<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1024439502309-c1n6ahm3mh7i99qibs9d1u40rstauf75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1024439502309-c1n6ahm3mh7i99qibs9d1u40rstauf75</string>
	<key>API_KEY</key>
	<string>AIzaSyDNwEUm79jUgZHj6f2ZcWA1QB9MF9NWwbc</string>
	<key>GCM_SENDER_ID</key>
	<string>1024439502309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.learnwell</string>
	<key>PROJECT_ID</key>
	<string>learnwell-a20a4</string>
	<key>STORAGE_BUCKET</key>
	<string>learnwell-a20a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024439502309:ios:5ba9eb4cb24a85650d1b0c</string>
</dict>
</plist>